* {
  --primary: #ffecd6;
  --secondery: #c8ae7d;
  --accent: #765827;
  --secondery-accent: #65451f;
  outline: none;
}
.align-center {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.contact-form {
  margin-top: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
}
label {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.input {
  width: 30vw;
  height: 1.5rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--secondery);
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: inset var(--secondery-accent) 0px 0px 5px 1px;
}
textarea {
  font-family: Country;
  resize: none;
  width: 30vw;
  height: 10rem;
  font-size: 1.2rem;
  color: var(--primary);
  background-color: var(--secondery);
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: inset var(--secondery-accent) 0px 0px 5px 1px;
  letter-spacing: 1px;
}
.error {
  margin: none;
  color: red;
  display: none;
}
.send {
  background-color: transparent;
  border: var(--secondery-accent) solid 1px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 50px;
  margin-top: 20px;
  box-shadow: inset var(--secondery-accent) 0px 0px 5px 1px;
  cursor: pointer;
}
@media (width< 1300px) {
  .input {
    width: 50vw;
  }
  textarea {
    width: 50vw;
  }
}
