body {
  --primary: #ffecd6;
  --secondery: #c8ae7d;
  --accent: #765827;
  --secondery-accent: #65451f;
}
@media (width< 768px) {
  .twoColumns {
    flex-direction: column;
  }
}
.twoColumns {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: fit-content;
  max-width: 1920px;
}
.beerInfo {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  text-align: start;
  box-shadow: var(--secondery-accent) 1px 0px 5px;
  border-radius: 5px;
  max-width: 50%;
}
.beerLogo {
  display: flex;
  min-height: 300px;
  max-height: 600px;
  padding: 10px;
}
.bold {
  font-weight: bold;
  color: var(--secondery-accent);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--secondery) 0px 0px 3px;
}
.generateBeerBtn {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  border: var(--secondery-accent) solid 1px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.generateBeerBtn:hover {
  box-shadow: var(--secondery-accent) 1px 0px 5px;
  background-color: var(--secondery);
}
