* {
  outline: none;
  --primary: #ffecd6;
  --secondery: #c8ae7d;
  --accent: #765827;
  --secondery-accent: #65451f;
}
.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.search-input {
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 20rem;
  padding: 10px;
  box-shadow: inset 1px 0px 5px var(--secondery-accent);
  color: var(--secondery-accent);
}
.search-btn {
  padding: 10px;
  background-color: transparent;
  border: solid 1px var(--accent);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0px 0px 2px var(--secondery-accent);
  transition: all 0.3s;
}
.search-btn:hover {
  background-color: var(--secondery);
  box-shadow: 0px 0px 3px var(--secondery-accent);
}
.results {
  position: flex;
  margin: 20px 0px;
  width: 90vw;
  gap: 10px;
  overflow-x: hidden;
}
