.App {
  --primary: #ffecd6;
  --secondery: #c8ae7d;
  --accent: #765827;
  --secondery-accent: #65451f;
  text-align: center;
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
  font-family: Century;
  color: var(--accent);
}
