body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(255, 236, 214);
  --secondery: #c8ae7d;
  --accent: #765827;
  --secondery-accent: #65451f;
  text-align: center;
  background-color: var(--primary);
  width: 100%;
  font-family: Century;
  color: var(--accent);
  min-height: 100vh;
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #65451f #ffecd6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffecd6;
}

*::-webkit-scrollbar-thumb {
  background-color: #65451f;
  border-radius: 10px;
  border: 3px solid #ffecd6;
}
